.header {
    /* background-color: black; */
    padding-top: 52px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

.header_wrap {
    display: flex;
    justify-content: end;
    gap: 264px;

}

.menu {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.header__link {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.header__link:hover {
    color: #FF6C00;
}

.header__number {
    color: #FFF;
}

.header__number:hover {
    color: #FF6C00;
}

.header__btn {
    font-family: inherit;
    margin-left: 40px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #FF6C00;
    background-color: transparent;
    width: 160px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 12px 20px;
}

.header__btn:hover {
    background-color: #FF6C00;
}