
.footer{
    margin-top: 52px;
    margin-bottom: 52px;
}

/* =========== */

.footerWrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footerListLinks {
    display: flex;
    align-items: center;

}

.footerListLinks>li>a {
    color: #303030;
}

.footerListLinks>li>a:hover {
    color: #FF6C00;
}

.footerListLinks {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footerListLinks::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
}

